<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <!-- Bootstrap JS -->
  <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
  <title>Menu Home</title>
</head>
<body>
  {% include "navbar.html" %}

  {% block content %}
  {% endblock %}
</body>
</html>